{% extends "studentlayout.html" %}
{% block studentcontent %}
{% if rows|length == 0 %}

<h3>You have not attempted any tests</h3>
{% else %}
<br>
<table id="tblStocks">
  <thead>
    <th>ID</th>
    <th>Subject</th>
    <th>Teacher</th>
    <th>Date</th>
    <th>Test Code</th>
    <th>Score</th>
    <th>View Test</th>
    <th>Statistics</th>
  </thead>
  {% for r in rows %}
  <tr>
    <td>{{loop.index}}</td>
    <td>{{r['subject']}}</td>
    <td>{{r['teacher']}}</td>
    <td>{{r['date']}}</td>
    <td>{{r['code']}}</td>
    <td>{{r['score']}}/{{r['tot_questions']}}</td>
    <td><a href="{{url_for('solution',testId=r['testId'])}}"class="btn btn-outline-info">View Test</a></td>
    <td><a href="{{url_for('graph',testId=r['testId'])}}"class="btn btn-outline-info">Statistics</a></td>
  </tr>
  {% endfor %}
</table>
{% endif %}
<!-- Enter Test Code-->
<div class="modal fade" id="enterTestCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Test Code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <div class="form-outline">
            {{ form.code.label }}
            {{ form.code(class="form-control") }}
          </div>
          {{ form.submit(class="btn btn-outline-dark") }}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock studentcontent %}
