<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename='dashboard.css') }}">
    {% if title %}
      <title>iQuETA - {{ title }}</title>
    {% else %}
      <title>iQuETA</title>
    {% endif %}
    <script type="text/javascript">
      $(document).on('click','.onoff',function(){
        console.log($(this).id);
      $(this).toggleClass('onoff-on');
      $(this).toggleClass('onoff-off');
      });
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <style>
      #tblStocks {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #tblStocks td, #tblStocks th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      #tblStocks tr:nth-child(even){background-color: #f2f2f2;}
      #tblStocks tr:hover {background-color: #ddd;}
      #tblStocks th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #294c67;;
        color: white;
      }
      .chart-container {
        width:  80%;
        height: 480px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    {% include "navbar.html" %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="close">
                  <span aria-hidden="true">x</span>
                  </button>
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% if rows|length == 0 %}
            <h3>You have not created any tests!</h3>
          {% else %}
            <br>
            <table id="tblStocks">
              <thead>
                <th>ID</th>
                <th>Subject</th>
                <th>Date</th>
                <th>Test Code</th>
                <th>Max Score</th>
                <th>Status</th>
                <th>Modify Test</th>
                <th>View</th>
                <th>Result</th>
              </thead>
              {% for r in rows %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{r.subject}}</td>
                  <td>{{r.date_created.date()}}</td>
                  <td>{{r.code}}</td>
                  <td>{{r.tot_questions}}</td>
                  <td>
                    {% if (r.status==True): %}
                      <div class="wrapper">
                        <div class="onoff onoff-on" id="r.id"></div>
                      </div>
                    {% else %}
                      <div class="wrapper">
                        <div class="onoff onoff-off" id="r.id"></div>
                      </div>
                    {% endif %}
                  </td>
                  <td><a href="/update/{{r.id}}" class="btn btn-outline-warning" data-toggle="modal" data-target="#modaledit{{r.id}}">Edit</a>
                    <a href="/delete/{{r.id}}" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                  </td>
                  <td><a href="/viewqns/{{r.id}}"class="btn btn-outline-info">View</a></td>
                  <td><a href="/teach_graph/{{r.id}}"class="btn btn-outline-info" target="popup">Results</a></td>
                </tr>
                <!--                         Edit button
                  -->
                <div id="modaledit{{r.id}}" class="modal fade" role="dialog">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Update Information</h4>
                      </div>
                      <div class="modal-body">
                        <form action="{{url_for('update')}}" method="POST">
                          <div class="form-group">
                            <label><b>Subject</b></label>
                            <input type="hidden"  name="id" value="{{r.id}}">
                            <input type="text" class="form-control" name="subject" value="{{r.subject}}">
                          </div>
                          <div class="form-group">
                            <label><b>Status</b></label>
                            <input type="text" class="form-control" name="status" value="{{r.status}}">
                          </div>
                          <div class="form-group">
                            <label><b>Total Questions</b></label>
                            <input type="text" class="form-control" name="tot_questions" value="{{r.tot_questions}}">
                          </div>
                          <div class="form-group">
                            <label><b>Total Time (in mins)</b></label>
                            <input type="text" class="form-control" name="tot_time" value="{{r.tot_time}}">
                          </div>
                          <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Update</button>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </table>
            <br>
          {% endif %}
          <!-- Create New Test
            -->
          <div id="createNewTestModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Create Test</h4>
                </div>
                <div class="modal-body">
                  <form class="contact1-form validate-form" action="{{url_for('insert')}}" method="POST" enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                      <label><b>Choose a file</b></label>
                      <input type="file" name="file"/>
                    </div>
                    <div class="form-group">
                      <label><b>Subject</b></label>
                      <input type="text" class="form-control" placeholder="Subject" name="subject" style="width:40%">
                    </div>
                    <div class="form-group">
                      <label><b>Total Questions</b></label>
                      <input type="number" class="form-control" placeholder="Number of Mandatory Questions" name="tot_questions" style="width:60%">
                    </div>
                    <div class="form-group">
                      <label><b>Total Time (in mins)</b></label>
                      <input type="number" class="form-control" placeholder="Time to be Allotted" name="tot_time" style="width:40%">
                    </div>
                    <div class="form-group">
                      <button class="btn btn-outline-info" type="submit">Create Test</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <hr width=80%>
    <div class="chart-container">
      <canvas id="bar-chartcanvas" width="70" height="20"></canvas>
    </div>
    <script>
      $(document).ready(function () {

      var ctx = $("#bar-chartcanvas");

      var data = {
      labels : {{labels | safe}},
      datasets : [
          {
          label : "Pass",
          data : {{passs}},
          backgroundColor : {{pass_col | safe}},
          borderColor : [
              "#111", "#111", "#111", "#111"
          ],
          borderWidth : 1
          },
          {
          label : "Fail",
          data : {{fail}},

          backgroundColor : {{fail_col | safe}},
          borderColor : [
              "#111", "#111", "#111", "#111"
          ],
          borderWidth : 1
          }
      ]
      };

      var options = {
      title : {
          display : true,
          position : "top",
          text : "Examination Statistics",
          fontSize : 24,
          fontColor : "#111"
      },
      legend : {
          display : false
      },
      scales : {
          yAxes : [{
          ticks : {
              min : 0
          }
          }]
      }
      };

      var chart = new Chart( ctx, {
      type : "bar",
      data : data,
      options : options,

      });

      });

    </script>
  </body>
</html>
