{% extends "studentlayout.html" %}
{% block studentcontent %}
  {% if restricted %}
    <script type="text/javascript">
      $(window).on('load', function() {
        $('#restricted').modal({backdrop: 'static', keyboard: false}) ;
        $('#restricted').modal('show');
      });
    </script>
    <div class="modal fade" id="restricted" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Restricted</h5>
            </button>
          </div>
          <div class="modal-body">
            <span>You have already sumitted this test, to go back click <a href="{{url_for('dashboard')}}">here</a></span>
          </div>
        </div>
      </div>
    </div>
  {% else %}
  <div class=><h5><p style="align-self:justify">Time :</p></h5></div>
  <div id="count"></div>
    <div class="py-2 h5"><b>Teacher: {{ teacher.name }}</b></div>
    <div class="py-2 h5"><b>Subject: {{ subject }}</b></div>
    <form method="POST">
      {% for question in data %}
        <div class="container mt-sm-5 my-1" id="quiz">
          <div class="question ml-sm-5 pl-sm-5 pt-2" id = "question">
            <div class="py-2 h5"><b>Q.{{loop.index}} {{question.question_text}}</b></div>
            {% set options = [question.op1,question.op2,question.op3,question.op4] %}
            {% for op in options|shuffle %}
              <div class="ml-md-3 ml-sm-3 pt-sm-0 pt-3" id="options">
                <label class="options" id = "optionsLabel">
                {{op}}
                <input type="radio"id="{{ op }}" name="{{ question.id }}" value="{{ op }}"> 
                <span class="checkmark" id = "radioButton"></span> 
                </label> 
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <br>
      <input type="submit" value="Submit" id = "Submit" name="Submit" class="btn btn-outline-info">
      <br><br>
    </form>
    <div class="modal fade" id="timeUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Time Up!</h5>
            </button>
          </div>
          <div class="modal-body">
            <span>You have exceeded the time limit. To see you result click <a href="#" onclick="SubmitFunction()">here</a></span>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <script>
    var elmnt = document.getElementById("testCode");
    elmnt.remove();
  </script>
  <script>
    var count = 15;
    // var submitted = document.getElementById('submitted');
    var interval = setInterval(function(){
      var hours = Math.floor((count % (60 * 60 )) / (60 * 60));
      var minutes = Math.floor((count % (60 * 60)) / (60));
      var seconds = Math.floor((count % (60)));
      document.getElementById('count').innerHTML= hours + " hr " + minutes + " mins " + seconds + " secs ";
      count--;
      if (count === -1){
        clearInterval(interval);
        showModal();
      }
    }, 1000);
    function showModal(){
      $('#timeUp').modal({backdrop: 'static', keyboard: false}) ;
      $('#timeUp').modal('show');
    }
    function SubmitFunction(){
      // alert("You're out of time!");
      document.getElementById("Submit").click();
    }
    
  </script>
  
{% endblock studentcontent %}