{% extends "studentlayout.html" %}
{% block studentcontent %}
<div class="py-2 h5"><b>Teacher: {{ teacher.name }}</b></div>
<div class="py-2 h5"><b>Subject: {{ subject }}</b></div>
<div class="py-2 h5"><b>Your Score: {{ percentage }}</b></div>
{% for question in data %}
<div class="container mt-sm-5 my-1" id="quiz">
  <div class="question ml-sm-5 pl-sm-5 pt-2" id = "question">
    <div class="py-2 h5"><b>Q.{{loop.index}} {{question.question_text}}</b></div>
    {% set options = [question.op1,question.op2,question.op3,question.op4] %}
    {% for op in options|shuffle %}
    
    <div class="ml-md-3 ml-sm-3 pt-sm-0 pt-3" id="options">
      <label class="options" id = "optionsLabel">
      
      {% if op==question.ans %}
      <b>{{op}}</b>
        <input type="radio"id="{{ op }}" name="{{ op }}" value="{{ op }}" checked> 
    {% else %}
    {{op}}
    <input type="radio"id="{{ op }}" name="{{ op }}" value="{{ op }}" disabled>
    {% endif %} 
      <span class="checkmark" id = "radioButton"></span> 
      </label> 
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
<script>
    var elmnt = document.getElementById("testCode");
    elmnt.remove();
</script>
{% endblock studentcontent %}